version: '3.10'
name: sandcastles

services:
  network-tools:
    networks:
      default:
    image: localhost/sandcastles/network-tools:latest
    healthcheck:
      test: curl -sS --fail-with-body https://proxy.castle > /dev/null
    command: curl -Ivv https://proxy.castle

  proxy:
    image: localhost/sandcastles/traefik:latest
    build:
      dockerfile: proxy.Dockerfile
      tags:
        - localhost/traefik-sandcastle:latest
    security_opt:
      - label=type:container_runtime_t
    volumes:
      - '${DOCKER_PATH}:/var/run/docker.sock:z'
      - './volumes/proxy:/etc/traefik/:z'
    networks:
      default:
        aliases: 
          - 'proxy.castle'
    ports:
      - '8080:80'
      - '8443:443'
    restart: unless-stopped

  root-ca:
    image: docker.io/smallstep/step-ca:0.27.1
    volumes:
      - './volumes/root-ca:/home/step:z'
      - 'step_data_db:/home/step/db'
    environment:
      - DOCKER_STEPCA_INIT_NAME=Letterbook Sandcastles
      - DOCKER_STEPCA_INIT_DNS_NAMES=root-ca.castle,root-ca,localhost
      - DOCKER_STEPCA_INIT_REMOTE_MANAGEMENT=true
      - DOCKER_STEPCA_INIT_ACME=false
      - DOCKER_STEPCA_INIT_PASSWORD=capassword
    ports:
      - "9000:9000"
    networks:
      default:
        aliases:
          - root-ca.castle
    restart: unless-stopped
  
  httpbin:
    scale: 0
    labels:
    - traefik.http.routers.httpbin.rule=Host(`httpbin.castle`)
    - traefik.http.routers.httpbin.tls=true
    - traefik.http.routers.httpbin.tls.certresolver=smallstep
    - traefik.port=80
    - traefik.enable=true
    image: docker.io/kennethreitz/httpbin
    networks:
      default:
    restart: unless-stopped

volumes:
  step_data_db:
    driver: local
networks:
  default:
